$orange: rgb(243, 96, 42);

body {
    width: 100%;
    margin: 0%;
    font-size: 15px;
    font-weight: bolder;
    font-family: 'IBM Plex Mono', monospace;
}

.title {
    display: flex;
    justify-content: center;
    h1 {
        font-family: 'Indie Flower', cursive;
        color: $orange;
    }
}

.list-nav {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 15px 15px;
    .list-cat1 {
        margin-left: 10px;
        margin-right: 10px;
        color: rgb(146, 144, 144);
        font-size: 15px;
    }
}

.list-cat1:first-of-type {
    color: orangered;
}

.list-nav:hover {
    cursor: pointer;
}

.dropdown{
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(146, 144, 144);
    position: relative;
}

.dropdown-content {
    position: absolute;
    display: none;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px;
    padding: 12px 16px;

    color: rgb(146, 144, 144);
}

// .dropdown:hover .dropdown-content {
//     display: block;
//     background-color: white;
//     color: rgb(146, 144, 144);
// }

.main {
    width: 100%;
   .picture {
       display: flex;
   }
   .pic1 {
       width: 100%;
       height:250px;
   }
}

.container-list {
    display: flex;
    justify-content: left;
    font-size: 15px;
    .navs{
        list-style: none;
        margin-left: 10px;
        margin-right: 10px;
    }
    .navs::after {
        content: ">";
        margin-left: 15px;
    }
}

.container-list:hover {
    cursor: pointer;
}

.navs:last-of-type {
    color: rgb(146, 143, 143);
    &::after {
        content: "";
    }
}

.navs:first-of-type {
    &::after {
        content: "";
    }
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.redes {
    margin-right: 30px;
    display: flex;
    align-items: center;
    .iconos {
        list-style: none;
    }
}

.face {
    background-color: #3b5998;
    width: 25px;
    height: 25px;
    margin: 20px;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    .fab.fa-facebook-f {
        color: white;
        font-size: 20px;
        font-weight: 100;
        margin: auto;
    }
}

.twiter {
    background-color: #55acee;
    margin: 20px;
    width: 25px;
    height: 25px;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    .fab.fa-twitter {
        color: white;
        font-size: 20px;
        font-weight: 100;
        margin: auto;
    }
}

.google {
    background-color: #dd4b39;
    margin: 20px;
    width: 25px;
    height: 25px;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    .fab.fa-google-plus-g {
        color: white;
        font-size: 20px;
        font-weight: 100;
        margin: auto;
    }
}

.insta {
    background-color: #8f6247;
    margin: 20px;
    width: 25px;
    height: 25px;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    .fab.fa-instagram {
        color: white;
        font-size: 20px;
        font-weight: 100;
        margin: auto;
    }
}

.pinterest {
    background-color: #cb2027;
    margin: 20px;
    width: 25px;
    height: 25px;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    .fab.fa-pinterest-p {
        color: white;
        font-size: 20px;
        font-weight: 100;
        margin: auto;
    }
}

.second-pic {
    width: 500px;
    border-radius: 10%;
}

.main-container {
    width: 60%;
    display: block;
    margin: auto;
    margin-right: 30px;
    font-size: 13px;
    padding: 0px 0px 20px;
}

.datos {
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 500px;

    .fecha {
        margin-top: 10px;
        color: rgb(146, 144, 144);
    }
    .social {
        width: 150px;
        display: flex;
        justify-content: space-around;
        margin-top: 25px;
        color: rgb(146, 144, 144);
    }
}

.contenedor {
   width: 70%;
   font-size: 13px;
   h2 {
       margin-left: 20px;
   }
   .text1 {
       color: rgb(146, 144, 144);
       padding: 0px 0px 20px;
   }
}

.verticalLine {
    border-left: solid rgb(241, 171, 145);
    border-width: 2px;
    filter: Alpha(opacity=50);
    .text2 {
        margin-left: 20px;
        padding: 0px 0px 5px;
        font-weight: bolder;
    }
}

h4 {
    color: rgb(146, 144, 144);
    margin-left: 20px;
}

.ingredientes {
    color: rgb(243, 96, 42);
    .grey {
        color: rgb(146, 144, 144);
        line-height: 2em;
    }
}

.redes-sociales {
    margin: auto;
    height: 50px;
    display: flex;
    justify-content: space-around;
    padding: 10px 20px 20px 20px;
    color: rgb(80, 76, 76);
    font-size: 14px;
    opacity: 0.5;
    filter: Alpha(opacity=50);
    .contact {
        margin-left: 10px;
    }
}

.redes-f {
    margin-right: 30px;
    display: flex;
    align-items: center;
    &:hover {
        color: #02194b;
        cursor: pointer;
    }
}

.redes-t {
    margin-right: 30px;
    display: flex;
    align-items: center;
    &:hover {
        color: #55acee;
        cursor: pointer;
    }
}

.redes-g {
    margin-right: 30px;
    display: flex;
    align-items: center;
    &:hover {
        cursor: pointer;
        color: #cb2027;
    }
}

.redes-li {
    margin-right: 30px;
    display: flex;
    align-items: center;
    &:hover {
        cursor: pointer;
        color: #007bb5;
    }
}

.redes-i {
    margin-right: 30px;
    display: flex;
    align-items: center;
    &:hover {
        color: #8f6247;
        cursor: pointer;
    }
}

.redes-y {
    margin-right: 30px;
    display: flex;
    align-items: center;
    &:hover {
        color: #ff0000;
        cursor: pointer;
    }
}


hr {
    color: rgb(207, 204, 204);
    margin-bottom: 50px;
    width: 70%;
    opacity: 0.5;
    filter: Alpha(opacity=50);
}
