$orange: rgb(243, 96, 42);

body {
    width: 100%;
    margin: 0%;
    font-size: 15px;
    font-weight: bolder;
    font-family: 'IBM Plex Mono', monospace;
}

.title {
    display: flex;
    justify-content: center;
    h1 {
        font-family: 'Indie Flower', cursive;
        color: $orange;
    }
}

// h1 {
//     font-family: 'Indie Flower', cursive;
//     color: #fc784f;
//     text-align: center;
// }

.list-nav {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 15px 15px;
    position: relative;
    .list-cat1 {
        margin-left: 10px;
        margin-right: 10px;
        color: rgb(146, 144, 144);
        font-size: 15px;
    }
}

.list-cat1:first-of-type {
    color: orangered;
}

.list-nav:hover {
    cursor: pointer;
}

.dropdown{
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(146, 144, 144);
  //  position: relative;
    .dropdown-content {
        position: absolute;
        display: none;
        right: 0px;
        top: 0px;


        // min-width: 160px;
        // box-shadow: 0px 8px 16px 0px;
        // padding: 12px 16px;
        color: rgb(146, 144, 144);
        background-color: white;
    }
}

.dropdown:hover .dropdown-content{
    display: block;
    color: black;
    }

.list-cat:hover {
  color: #fc784f;
}

// ----------------------------------

// .list-nav {
//   font-family: 'IBM Plex Mono', monospace;
//   display: flex;
//   justify-content: space-around;
//   margin-left: 30%;
//   margin-right: 30%;
//   position: relative;
//   ul {
//     list-style: none;
//   }
//   li{
//     ul {
//     display: none;
//     position: absolute;
//     background-color: white;
//   	}
// 	}
//     li:hover ul{
//       display: block;
//       color: black;
//       }
//     .list-cat:hover {
//       color: #fc784f;
//   }
// }

// .dropdown:hover .dropdown-content {
//     display: block;
//     background-color: white;
//     color: rgb(146, 144, 144);
// }

.main {
    width: 100%;
   .picture {
       display: flex;
   }
   .pic1 {
       width: 100%;
       height:250px;
   }
}

.container-list {
    display: flex;
    justify-content: left;
    font-size: 15px;
    .navs{
        list-style: none;
        margin-left: 10px;
        margin-right: 10px;
    }
    .navs::after {
        content: ">";
        margin-left: 15px;
    }
}

.container-list:hover {
    cursor: pointer;
}

.navs:last-of-type {
    color: rgb(146, 143, 143);
    &::after {
        content: "";
    }
}

.navs:first-of-type {
    &::after {
        content: "";
    }
}


.container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.redes {
    margin-right: 30px;
    display: flex;
    align-items: center;
    .iconos {
        list-style: none;
    }
}

.face {
    background-color: rgb(9, 9, 199);
    width: 25px;
    height: 25px;
    margin: 20px;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    .fab.fa-facebook-f {
        color: white;
        font-size: 20px;
        font-weight: 100;
        margin: auto;
    }
}

.twiter {
    background-color: rgb(73, 180, 184);
    margin: 20px;
    width: 25px;
    height: 25px;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    .fab.fa-twitter {
        color: white;
        font-size: 20px;
        font-weight: 100;
        margin: auto;
    }
}

.google {
    background-color: rgb(197, 76, 76);
    margin: 20px;
    width: 25px;
    height: 25px;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    .fab.fa-google-plus-g {
        color: white;
        font-size: 20px;
        font-weight: 100;
        margin: auto;
    }
}

.insta {
    background-color: rgb(70, 37, 37);
    margin: 20px;
    width: 25px;
    height: 25px;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    .fab.fa-instagram {
        color: white;
        font-size: 20px;
        font-weight: 100;
        margin: auto;
    }
}

.pinterest {
    background-color:rgb(223, 74, 74);
    margin: 20px;
    width: 25px;
    height: 25px;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    .fab.fa-pinterest-p {
        color: white;
        font-size: 20px;
        font-weight: 100;
        margin: auto;
    }
}

.second-pic {
    width: 500px;
    border-radius: 10%;
}

.main-container {
    width: 60%;
    display: block;
    margin: auto;
    margin-right: 30px;
    font-size: 13px;
    padding: 0px 0px 20px;
}

.datos {
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 500px;

    .fecha {
        margin-top: 10px;
        color: rgb(146, 144, 144);
    }
    .social {
        width: 150px;
        display: flex;
        justify-content: space-around;
        margin-top: 25px;
        color: rgb(146, 144, 144);
    }
}

.contenedor {
   width: 70%;
   font-size: 13px;
   h2 {
       margin-left: 20px;
   }
   .text1 {
       color: rgb(146, 144, 144);
       padding: 0px 0px 20px;
   }
}

.verticalLine {
    border-left: solid rgb(241, 171, 145);
    border-width: 2px;
    filter: Alpha(opacity=50);
    .text2 {
        margin-left: 20px;
        padding: 0px 0px 5px;
        font-weight: bolder;
    }
}

h4 {
    color: rgb(146, 144, 144);
    margin-left: 20px;
}

.puntito {
    color: rgb(243, 96, 42);
    .grey {
        color: rgb(146, 144, 144);
        line-height: 2em;
    }
}

.redes-sociales {
    margin: auto;
    height: 50px;
    display: flex;
    justify-content: space-around;
    padding: 10px 20px 20px 20px;
    color: rgb(80, 76, 76);
    font-size: 14px;
    opacity: 0.5;
    filter: Alpha(opacity=50);
    .re {
        margin-left: 5px;
    }
}

hr {
    color: rgb(207, 204, 204);
    margin-bottom: 50px;
    width: 70%;
    opacity: 0.5;
    filter: Alpha(opacity=50);
}

// ---------------------------------------------------------------------------------------------------
// h1 {
//     font-family: 'Indie Flower', cursive;
//     color: #fc784f;
//     text-align: center;
// }

// .list-nav {
//   font-family: 'IBM Plex Mono', monospace;
//   display: flex;
//   justify-content: space-around;
//   margin-left: 30%;
//   margin-right: 30%;
//   position: relative;
//   ul {
//     list-style: none;
//   }
//   li{
//     ul {
//     display: none;
//     position: absolute;
//     background-color: white;
//   	}
// 	}
//     li:hover ul{
//       display: block;
//       color: black;
//       }
//     .list-cat:hover {
//       color: #fc784f;
//   }
// }
p {
  margin: 0;
}

.carrousel {
	display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2%;
  .carrousel-img{
    width: 24%;
    img {
      width: 100%;
      }
    }
  .carrousel-img:first-of-type {
    margin-left: 0;
    }
  .carrousel-img:last-of-type {
    margin-right: 0;
    }
}

.recipes-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipes {
  display: flex;
  justify-content: space-around;
  // margin-left: 10%;
  // margin-right: 10%;
  width: 80%;
  .recipes-sec {
  display: flex;
  align-items: center;
  justify-content: center;
	position: relative;
  margin: 1%;
  img{
    border-radius: 10%;
    width: 100%;
    .button-center {
      position: absolute;
      text-align: center;
      z-index: 1;
      //ver por que no hace caso a los position
      // z-index: 1; /*va con position, poner con relative y absolute*/
      }
    }
  }
}

.bio {
  // background-color: red;
  display: flex;
  align-items: center;
  width: 30%;
  height: auto;
}

.vid-bio {
	display: flex;
  justify-content: center;
	width: 80%;
  height: auto;
	margin-left: 10%;
	margin-right: 10%;
}



.vid {
		width: 65%;
    height: auto;
    margin: 1%;
		// display: flex;
		// flex-direction: nowrap; //no se ve el video
    	iframe {
  			width: 100%;
        height: 100%;
  		}
    	figcaption {
  			width: 100%;
        font-size: 10px;
  		}
  	}

.bio-title-box {
  background-color: #FDE2DA;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
    .bio-title {
      font-size: 12px;
      color: #7F7F7F;
    }
}

.bio { //todo roto
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 1%;
  .photo {
    width: 65%;
    border-radius: 50%;
    margin-top: 10%;
      img{
      width: 100%;//no anda
      border-radius: 50%;
      }
  }
}

  .bio-name-box {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 90%;

      .bio-name {
        color: black;
        font-size: 20px;
        margin-top: 8%;
        margin-bottom: 6%;
      }
      .bio-data {
        color: #7F7F7F;
        font-size: 13px;
        margin-bottom: 10%;
      }
  }

// .recipes-links {
//   display: flex;
//   justify-content: flex-start;
//   width: 80%;
// }

.recipes-links {
  // display: flex;
  // justify-content: center;
	width: 80%;
  height: auto;
	margin-left: 10%;
	margin-right: 10%;
  margin-top: 5%;
   .articles {
     width: 65%;
     margin-left: 0;
   }
}

article{
	display: flex;
  justify-content: flex-start;
  margin-top: 2%;
	margin-left: 0%;
	margin-right: 0;
  width: 100%;
	.recipe-img {
		width: 40%;
		img {
			border-radius: 10%;
      width: 100%;
		}
	}
	.recipe-info {
		width: 60%;
		display: flex;
		flex-direction: column;
    margin-left: 4%;
		.recipe-date {
			color: darkslategray;
			font-family: 'IBM Plex Mono', monospace;
			font-size: 12px;
		}
		.recipe-name {
			font-family: 'IBM Plex Mono', monospace;
			font-size: 20px;
		}
		.recipe-desc {
			color: darkslategray;
			font-family: 'IBM Plex Mono', monospace;
			font-size: 12px;
			}
		.news {
			border: none;
			color: #fc784f;
			text-align: center;
			color: darkslategray;
			font-family: 'IBM Plex Mono', monospace;
			font-size: 12px;
			border-radius: 10%;
		}
	}
}
