body {
    margin: 0;
}

h1 {
    font-family: 'Indie Flower', cursive;
    color: #fc784f;
    text-align: center;
}

.list-nav {
  font-family: 'IBM Plex Mono', monospace;
  display: flex;
  justify-content: space-around;
  margin-left: 30%;
  margin-right: 30%;
  position: relative;
  ul {
    list-style: none;
  }
  li{ 
    ul {
    display: none;
    position: absolute; 
    background-color: white;
  	}
	}
    li:hover ul{
      display: block;
      color: black;
      }
    .list-cat:hover {
      color: #fc784f;
  }
}

.carrousel { 
	display: flex;
  justify-content: space-between;
  width: 100%; 
  .carrousel-img{
    width: 24%;
    img {
      width: 100%;
      }
    }
  .carrousel-img:first-of-type {
    margin-left: 0;
    }
  .carrousel-img:last-of-type {
    margin-right: 0;
    }
}

.recipes {
  display: flex;
  justify-content: space-around;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  .recipes-sec {
  display: flex;
  align-items: center;
  justify-content: center;
	position: relative;
  img{
    border-radius: 10%;
    width: 90%;
    .button-center { 
      position: absolute; //ver por que no hace caso a los position
      z-index: 1; /*va con position, poner con relative y absolute*/
      }
    }
  }
}

.vid-bio {
	display: flex;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	.vid {
		width: 60%;
		display: flex;
		flex-direction: nowrap; //no se ve el video
		video {
			width: 100%;
		}
		figcaption {
			width: 100%;
		}
	}
	.bio { //todo roto
		width: 40%;
		display: flex;
		flex-direction: column;
		.photo {
			img{
			width: 40%;//no anda
			border-radius: 50%;
			}
		}
	}
}

article{
	display: flex;
	margin-left: 10%;
	margin-right: 50%;
	.recipe-img {
		width: 40%;
		img {
			border-radius: 10%;
		}
	}
	.recipe-info {
		width: 60%;
		display: flex;
		flex-direction: column;
		.recipe-date {
			color: darkslategray;
			font-family: 'IBM Plex Mono', monospace;
			font-size: 12px;
		}
		.recipe-name {
			font-family: 'IBM Plex Mono', monospace;
			font-size: 20px;
		}
		.recipe-desc {
			color: darkslategray;
			font-family: 'IBM Plex Mono', monospace;
			font-size: 12px;
			}
		.news {
			border: none;
			color: #fc784f;
			text-align: center;
			color: darkslategray;
			font-family: 'IBM Plex Mono', monospace;
			font-size: 12px;
			border-radius: 10%;
		}
	}
}

    

